---
---

@import "{{ site.theme }}";

// I prefer the layout of the Cayman theme, but the colors of Slate.

body {
  color: #373737;
}

a {
  color: #007edf;
}

.btn {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(0, 0, 0, 0.8);

  &:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(0, 0, 0, 0.9);
  }
}

.page-header {
  color: #222;
  background: #9a9a9a;
  background-image: linear-gradient(120deg, #8e9eab, #eef2f3);
}

.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.07ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.77em;
  vertical-align: -0.5ex;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222;
  }
}
